<p class="base-space-dialog">
	<div style="padding-bottom: 15px;">
		<ng-include src="'components/loadAnimation.html'"></ng-include>
		<span style="padding-left: 25px;">List of runs on BaseSpace - {{user.name}} :</span>
		<span ng-if="!connectionstatus">connected to BaseSpace : {{connectionstatus}}</span>
	</div>
	<div style="max-height: 500px;">
		<div class="accrun">
			<h3 ng-click="setSelectedBSResource(null)" ng-repeat-start="run in getDisplayedRuns()" post-repeat-directive-bs-dial><a href="#">Run : <span class="header-date">{{run.dateCreatedFormat}}</span> - {{run.name}}</a></h3>
			<div ng-repeat-end>
				<div class="BSDialFileTable " style="width:100%;">
						<div class="column1"></div>
						<div class="column2"></div>
						<div class="BSDialrow selectable" ng-class="{selected: runfile===selectedBaseSpaceFile}" ng-repeat="runfile in run.listFilesData" ng-click="setSelectedBSResource(runfile)">
							<div class="BSDialValuecell">{{runfile.dateCreatedFormat}}</div>
							<div class="BSDialPropcell">{{runfile.name}}</div>
							<div class="BSDialSizecell">{{runfile.readableSize}}</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="show-prev-container" ng-if="maxDisplayedRuns < userruns.length" ng-click="toggleShowRuns()">
		<img src="http://d2t2bnlh53lbhy.cloudfront.net/arrow-simple-down.svg"/>
		<span ng-if="showAllRuns" refresh-acc>Show recents</span>
		<span ng-if="!showAllRuns" refresh-acc>Show all</span>
	</div>
</p>
