<link rel="stylesheet" href="WEB-INF/css/createPan.css"/>

<script>
	(function($) {
		// Animate next button
		$("#nextlink").hover(function(){
			 $("#nextlink").clearQueue();
			 $("#nextlink").animate({width: "250px"}, 100);
			 
		}, function(){
			$("#nextlink").animate({width: "200px"}, 100)
		});
		
	})(jQuery);
	
	$("#dialog-unvalid-parameters").hide();
</script>

<div ng-switch on="currentCreateStep">
	<div ng-switch-when="1" >
		<div ng-include="'createStep1.html'"/>
	</div>
	<div ng-switch-when="2" class="slideAnim">
		<div ng-include="'createStep2.html'"/>
	</div>
	<div ng-switch-default class="slideAnim">
		<div ng-include="'createStep1.html'"/>
	</div>
</div>

<div id="nextlink" ng-click="nextStep()"> 
	<div id="next">
		<svg class="action-button next-icon" ng-if="currentCreateStep == '1'">
			<use xlink:href="img/next.svg#icon-next"></use>
		</svg>
		<svg class="action-button start-icon" ng-if="currentCreateStep != '1'">
			<use xlink:href="img/start_button.svg#icon-start"></use>
		</svg>
		<div class="icon-label">Next</div>
	</div>
</div>

<div id="dialog-unvalid-parameters" title="Your selection is not valid">
	 <p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		Your selection is not valid. Please check you choose both data and libraries files you want to process.
	</p>
</div>
