<div id="analyse-split-content">
	<div id="parameterscontainer">
		<file-manager title="Choose your input data" file-tye="data" uid="data" bsallowed="true" selected-files="configuration.selectedDataFiles" jquery-init></file-manager>

		<div class="acc shadowed">
			<h3>
				Stored data splitter models
				<div style="position: absolute; right: 5px; top: 5px; font-size: 10px; color: rgb(100, 100, 100)">
					<div style="display: inline;" class="tooltip">
						<img class="edit-pattern-pic" ng-src="http://d2t2bnlh53lbhy.cloudfront.net/edit.svg" alt="+" ng-click="openPatternCreationDial(); $event.stopPropagation();"> <span> <strong>Create and edit</strong><br />extractions patterns<img
							class="callout left high" ng-src="http://d2t2bnlh53lbhy.cloudfront.net/calloutleft.gif" alt="+" />
						</span>
					</div>
				</div>
			</h3>
			<div style="max-height: 180px; padding: 0;">
				<p class="pattern-doc">
					Split patterns are defined following regular expressions rules. For more information, please refer to <a target="_blank" href="https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html#sum">this documentation</a>.
				</p>
				<ol id="selectablePattern">
					<li class="selectPatItem" ng-class="{selectedPattern: isSelected(splitPattern)}" ng-repeat="splitPattern in splitPatterns" ng-click="toggleSelect(splitPattern)" apply-effects>
						<div class="pattern-alias infoCell" ng-if="!isEmpty(splitPattern.alias)">{{splitPattern.alias}}</div>
						<div class="grnaLengthinfo infoCell">Output name : {{splitPattern.outputName}}</div>
						<div class="split-pattern-string">{{splitPattern.regexp}}</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<div id="summary-container">	
		<div class="acc shadowed">
			<h3>
				<a href="#">Split summary</a>
			</h3>
			<div id="accPrevContent">
				<div class="patternPreview empty" ng-if="isEmpty(configuration.dataSplitterModels) || isEmpty(configuration.selectedDataFiles)">
					<div class="prevRow">
						<span class="prevCell seq" id="NoSeqDefined">Please select at least one splitter pattern and one input</span>
					</div>
				</div>
				<div class="patternPreview non-empty" ng-if="!(isEmpty(configuration.dataSplitterModels) || isEmpty(configuration.selectedDataFiles))">
					<ol id="selected-input-list">
						<li ng-repeat="inputFile in configuration.selectedDataFiles">
							<img class="input-picture" src='img/fileOrg/stored.svg'/>
							<span class="pattern-regex">{{inputFile.name}}</span>
						</li>
					</ol>
					<div id="separator" width="100%" height="40px"></div>
					<ol id="selected-patterns-list">
						<li ng-repeat="splitPattern in configuration.dataSplitterModels">
							<img class="input-picture" src='img/fileOrg/stored.svg'/>
							<span class="pattern-regex">{{splitPattern.outputName}}.fastq</span>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<next-step-panel steps="1"></next-step-panel>

	<div id="dialog-unvalid-parameters" class="generic-dialog" title="Your selection is not valid">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span> Your selection is not valid. Please check you choose at least one input to process as well as one splitter pattern.
		</p>
	</div>

	<div id="dialog-message-ok" class="generic-dialog" title="New analyse launched !">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span> A new analyse has successfully been added to the processing queue.<br /> <b style="color: red;"> <br /> {{uploadmessage}}
			</b>
		</p>
	</div>

	<div id="dialog-message-failed" class="generic-dialog" title="Error while enqueue new analyse">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span> An error occured while sending this new analyse to the server.
		</p>
	</div>
</div>
