.metadata
.recommenders

/BaseSpaceSDKJersey2
/PaulProject
/BSWAClientProcessor/Delivery

**/bin/**
**/.settings
**/build
**/logs
**/.classpath
**/.project
**/conf/*.xml
**/target
**/build/generated/**