.metadata
.recommenders

/PaulProject
/BSWAClientProcessor/Delivery

**/bin/**
**/node_modules
**/*.DS_Store
**/.settings
**/build
**/logs
**/.classpath
**/.project
**/conf/*.xml
**/target
**/build/generated/**
