<link rel="stylesheet" href="WEB-INF/css/components/file-manager.css" />

<script>
	(function($) {
		$(".menu-load-file").menu();
		
		$(this).find(".menu-load-file").show();
		$(".open-load-data").hover(function(e) {
			$(this).find(".menu-load-file").show();
		}, function() {
			$(this).find(".menu-load-file").hide();
		});
	})(jQuery);
</script>

<div class="file-manager">

	<div id="test_id" class="acc shadowed">
		<h3>
			<a href="#">{{ctrl.title}}</a>
		</h3>
		<div class="panel-content">
			<div class="open-load open-load-data add-left">
				<div class="add-icon"/>
				<ul class="menu-load-file">
					<li ng-class="{'ui-state-disabled': ctrl.isEmpty(storedFilesList)}">Stored {{ctrl.fileType}} files
						<ul>
							<li ng-repeat="file in storedFilesList" ng-click="ctrl.addViewFile(file)"><span class="storedDateDisp">{{file.dateCreatedFormat}} </span> - <span class="storedSizeDisp">{{file.readableSize}}</span> - <span
								class="storedFileNameDisp">{{file.name}}</span></li>
						</ul>
					</li>
					<li ng-if="ctrl.baseSpaceAllowed === 'true'" ng-click="ctrl.openBaseSpaceSelectionDial()">Load from BaseSpace</li>
					<li ng-if="ctrl.fileUploader" ng-click="ctrl.selectFile();">Load from my computer</li>
				</ul>
			</div>
			
			<!-- Summary panel of selected files -->
			<div class="add-right" ng-class="{false:'align-top', true:'align-middle'}[ctrl.isEmpty(ctrl.selectedFiles)]">
				<p class="no-select-message" ng-if="ctrl.isEmpty(ctrl.selectedFiles)">No file selected, please select at least one data file to process.</p>
				<div ng-if="!ctrl.isEmpty(ctrl.selectedFiles)">
					<div class="fileTable">
						<div class="filerow" id="runfile_{{selected.id}}" ng-repeat="selected in ctrl.selectedFiles">
							<div class="propcell">
								<img ng-src="{{selected.origin === 'UPLOAD' && 'img/fileOrg/upload.svg' || selected.origin === 'STORED' && 'img/fileOrg/stored.svg' || 'img/fileOrg/basespace.svg'}}" />
							</div>
							<div class="sizecell">{{selected.readableSize}}</div>
							<div class="valuecell">{{selected.name}}</div>
							<div class="deletecell" ng-click="ctrl.removeSelectedFile(selected)">
								<span><img src="http://d2t2bnlh53lbhy.cloudfront.net/remove.svg" alt="Delete"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dialog-duplicate-warning-{{ctrl.uid}}" class="generic-dialog" title="File already selected">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span> File has already been selected. Duplicates are not allowed.
		</p>
	</div>

	<div id="basespacedialog" class="generic-dialog" title="Base space account files" ng-controller="bsModelCtrl" ng-include="'baseSpaceDialog.html'"></div>

	<!-- Hidden input -- Files uploads -->
	<input class="nodisplay" id="{{ctrl.localFileInputSelector}}" type="file" nv-file-select uploader="ctrl.fileUploader" ng-if="ctrl.fileUploader" />

</div>