<link rel="stylesheet" href="WEB-INF/css/components/next-step-panel.css"/>

<div id="nextlink" ng-click="nextClicked()">
	<div id="nextlink-content">
		<div class="button-next">
			<svg class="action-button next-icon" ng-if="currentCreateStep < MAX_STEP">
						<use xlink:href="img/next.svg#icon-next"></use>
					</svg>
			<div class="icon-label" ng-if="currentCreateStep < MAX_STEP">Next</div>
			
			<svg class="action-button start-icon" ng-if="currentCreateStep == MAX_STEP">
						<use xlink:href="img/start_button.svg#icon-start"></use>
					</svg>
			<div class="icon-label" ng-if="currentCreateStep == MAX_STEP">Start</div>
		</div>
	</div>
</div>