<link rel="stylesheet" href="WEB-INF/css/components/next-step-panel.css" />

<div id="nextlink" ng-click="nextClicked()">
	<div id="nextlink-content">
		<div class="button-next">
			<div class="action-button next-icon" ng-if="currentCreateStep < MAX_STEP"/>
			<div class="icon-label" ng-if="currentCreateStep < MAX_STEP">Next</div>

			<div class="action-button start-icon" ng-if="currentCreateStep == MAX_STEP"/>
			<div class="icon-label" ng-if="currentCreateStep == MAX_STEP">Start</div>
		</div>
	</div>
</div>