/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

.slideAnim.ng-enter { animation: slideInRight 0.5s both ease-in;  }

.acc {
	margin: 10px;
	margin-top: 20px;
	white-space: no-wrap;
}