#analyse-selection-content {
	padding: 2em;
	text-align: center;
}

#analyse-selection-content ul {
	list-style-type: none;
}

#analyse-selection-content li {
	margin: 2em;
}

#analyse-selection-content .analysis-link {
	display: inline-block;
	width: 20%;
	height: 150px;
	vertical-align: middle;
	background-color: rgba(255,255,255,0.7);
}

#analyse-selection-content .analysis-description {
	padding-left: 2em;
	text-align: center;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

#analyse-selection-content .analysis-illustration {
	height: 100%
}

#analyse-selection-content #but-create-lookup .analysis-illustration {
	background: url("/img/create_analysis/lookup.svg") no-repeat center
		center;
}

#analyse-selection-content #but-create-split .analysis-illustration {
	background: url("/img/create_analysis/split.svg") no-repeat center
		center;
}