#analyse-split-content{
	padding: 2em;
}

#analyse-split-content #parameterscontainer {
	width: 83%;
	float: left;
}

#analyse-split-content #filescontainer {
	width: 60%;
	float: left;
}

.add-left {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
}

.add-right {
	display: table-cell;
}

.align-middle {
	vertical-align: middle;
}

.align-top {
	vertical-align: top;
}

.fileTable {
	letter-spacing: 0.1em;
	display: table;
	margin-bottom: 10px;
}
.filerow {
	display: table-row;
	height: 30px;
}

.propcell {
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
	
}
.propcell img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.valuecell {
	display: table-cell;
	padding-left: 20px;
	vertical-align: middle;
}

.sizecell{
	display: table-cell;
	margin: 3px; 
	padding: 0.4em; 
	height: 18px;
	font-size: 10px;
	vertical-align: middle;
	padding-left: 20px;
}

.deletecell {
  display: table-cell;
  padding-left: 10px;
  cursor:pointer;
  vertical-align: middle;
  padding-top:
}

.deletecell img {
	display: block;
	width: 15px;
	height: 15px;
    margin-left: auto;
    margin-right: auto
}

.storedFileNameDisp {
	font-weight:normal;
	font-size: 13px;
	padding:2px;
	padding-right:5px;
}

.storedDateDisp {
	color: #5785C6;
	font-weight:normal;
	padding:2px;
	padding-left:5px;
}

.storedSizeDisp {
	min-width: 100px;
}

.column1 {
  display: table-column;
}
.column2 {
  display: table-column;
}

.add-icon{
    width: 80px;
    height: 80px;
}

.add-icon .st0{fill:#567C13;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.add-icon .st1{fill:url('/img/addFile.svg#gradient-back');stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.add-icon .st2{fill:#eeeeee;stroke:#6785A5;stroke-width:2;}
.add-icon .st3{fill:#85A838;stroke:#6785A5;stroke-width:2;}

.open-load:hover {
	cursor: pointer;
}

.open-load:hover .add-icon .st0{fill:#85A838;}
.open-load:hover .add-icon .st1{fill:url('http://d2t2bnlh53lbhy.cloudfront.net/addFile.svg#gradient-back-hover');stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.open-load:hover .add-icon .st2 { fill: #FFFFFF; stroke: #6785A5; stroke-width: 2px;}
.open-load:hover .add-icon .st3 { fill: #FFFFFF; stroke: #6785A5; stroke-width: 2px;}
