[data-loader]
{
    margin: 8px;
}

[data-loader='jumping']
{
    position: relative;

    width: 50px;

    -webkit-perspective: 200px;
       -moz-perspective: 200px;
        -ms-perspective: 200px;
            perspective: 200px;
}
[data-loader='jumping']:before,
[data-loader='jumping']:after
{
    position: absolute;

    width: 20px;
    height: 20px;
    top: -60px;

    content: '';
    border: 1px solid #85a838;
    background: rgba(0,0,0,0);
}
[data-loader='jumping']:before
{
    left: 0;
    animation: jumping .5s infinite alternate;
}
[data-loader='jumping']:after
{
    right: 0;
    animation: jumping2 .5s infinite alternate;
    animation-delay: .15s;
}

@keyframes jumping
{
    0%
    {
        transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
    }
    100%
    {
        transform: scale(1.2) translateY(-25px) rotateX(45deg);
        box-shadow: 0 25px 40px rgb(0,0,0);
        background: #367db8;
        border-color: #85a838;
    }
}

@keyframes jumping2
{
    0%
    {
        transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
    }
    100%
    {
        transform: scale(1.2) translateY(-25px) rotateX(45deg);
        box-shadow: 0 25px 40px rgb(0,0,0);
        background: #567c13;
        border-color: #85a838;
    }
}