<div id="analyseContent" running-page-load-directive>
	<div id="runningtools">
		<ul>
			<li title="Stop all running analyses"><img
				ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/stopAll.png"
				ng-click="stopAll();" /></li>
			<li title="Expand all tabs"><img
				ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/expandAll.png"
				ng-click="expandAll();" /></li>
			<li title="Collapse all tabs"><img
				ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/collapseAll.png"
				ng-click="collapseAll();" /></li>
			<li style="position: relative;" title="Sort tabs" id="sortToolItem"><img
				ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/sort.png" />
				<ul class="sortMenu shadowed">
					<li style="text-align: center;" class="ui-widget-header">Sort
						analyses :</li>
					<li ng-click="sortByDate();">By completion date</li>
					<li ng-click="sortByName();">Alphabetically</li>
				</ul></li>
		</ul>
	</div>
	<div class="lightBack" id="runTitle">
		<p>
			<span ng-show="!user.authenticated"><b>Guest user</b></span> <span
				ng-show="user.authenticated"><b>{{ user.first_name }} {{
					user.last_name }} </b></span> - Running analyses
		</p>
	</div>
	<div class="emptyListInfo" ng-if="runningAnalyses.length <= 0">
		<p>No running analysis.</p>
	</div>
	<div id="runningContent" style="padding-left: 100px;">

		<div class="accRunning shadowed"
			ng-repeat="runanalyse in runningAnalyses"
			post-running-repeat-directive>
			<h3>
				<a href="#">
					<div ng-controller="runningInfosCtrl">Analysis -
						{{runningAnalyses[$index].progress}}%</div>
				</a>
			</h3>
			<div ng-class="{analysisError: runanalyse.status == 'UPLOAD_ERROR'}">
				<div ng-controller="runningInfosCtrl"
					ng-init="init(runningAnalyses[$index].id)"
					class="running-analysis-content">
					<div>
						<div data-loader="jumping"></div>
					</div>
					<div class="run-details">
						<div class="propTable" style="float: left;">
							<div class="column1"></div>
							<div class="column2"></div>
							<div class="proprow">
								<div class="propcell">Progress</div>
								<div class="valuecell">{{runningAnalyses[$index].progress}}%</div>
							</div>
							<div class="proprow">
								<div class="propcell">Start date</div>
								<div class="valuecell">{{runningAnalyses[$index].launchDateFormat}}</div>
							</div>
							<div class="proprow">
								<div class="propcell">Status</div>
								<div class="valuecell">{{runningAnalyses[$index].status}}</div>
							</div>
							<div class="proprow" ng-if="uploadProgress != -1">
								<div class="propcell">Upload progress</div>
								<div class="valuecell">{{uploadingFileName}}</div>
								<div class="valuecell">{{uploadProgress}}%</div>
							</div>
							<div class="proprow"
								ng-repeat="downinfo in runningAnalyses[$index].downloadInfo.downloadingFiles"
								ng-if="runningAnalyses[$index].downloadInfo.isdownloading">
								<div class="propcell">Download progress</div>
								<div class="valuecell">{{downinfo.file.name}}</div>
								<div class="valuecell">{{downinfo.progress}}%</div>
							</div>
						</div>
						<div class="propTable" style="float: left; padding-left: 20px">
							<div class="proprow">
								<div class="propcell">Currently assigned resources</div>
								<div class="valuecell">{{runningAnalyses[$index].listAssignedResources.length}}</div>
							</div>
						</div>
						<div id="progressbar_{{$index}}" class="progressbar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="lightBack" id="completedTitle">
		<p>
			<span ng-show="!user.authenticated"><b>Guest user</b></span> <span
				ng-show="user.authenticated"><b>{{ user.first_name }} {{
					user.last_name }} </b></span> - Completed analyses
		</p>
	</div>
	<div id="doneContent" style="padding-left: 100px;">
		<div class="accComplete shadowed"
			ng-repeat="completeanalyse in completeAnalyses"
			post-complete-repeat-directive>
			<h3>
				<a href="#">
					<div>
						<div>Completed Analysis -
							{{completeanalyse.report.analyseConfig.selectedDataFiles[0].name}}</div>
						<div
							style="position: absolute; right: 5px; top: 5px; font-size: 10px; color: rgb(100, 100, 100)">
							<div style="display: inline;" class="tooltip"
								ng-if="completeanalyse.additionalAnalyses.length !== 0">
								<img style="padding-right: 10px; vertical-align: middle"
									ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/additional.png"
									alt="+"> <span> <strong>Additional
										analyses</strong><br /> have been performed within this raw analysis.
									<img class="callout left"
									ng-src="http://d3q6339sjg0aim.cloudfront.net/calloutleft.gif"
									alt="+" />
								</span> </img>
							</div>
							<span>{{completeanalyse.completionDateFormat}}</span>
						</div>
					</div>
				</a>
			</h3>
			<div>
				<div style="display: table; width: 100%;">
					<div style="display: table-row;">
						<div class="completeAnimContent">
							<img
								ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/complete.png"
								alt="Next" />
						</div>
						<div style="display: inline">
							<div style="float: left;">
								<div class="propTable" style="float: left;">
									<div class="column1"></div>
									<div class="column2"></div>
									<div class="proprow">
										<div class="propcell">Start date</div>
										<div class="valuecell">{{completeanalyse.launchDateFormat}}</div>
									</div>
									<div class="proprow">
										<div class="propcell">Completion date</div>
										<div class="valuecell">{{completeanalyse.completionDateFormat}}</div>
									</div>
									<div class="proprow">
										<div class="propcell">Status</div>
										<div class="valuecell">{{completeanalyse.status}}</div>
									</div>
								</div>
								<div class="propTable" style="float: right; padding-left: 20px">
									<div class="column1"></div>
									<div class="column2"></div>
									<div class="proprow">
										<div class="propcell">Processing time</div>
										<div class="valuecell">{{completeanalyse.report.processingTimeFormatted}}</div>
									</div>
									<div class="proprow"
										ng-repeat="datafile in completeanalyse.report.analyseConfig.selectedDataFiles">
										<div class="propcell">Input data</div>
										<div class="valuecell">{{datafile.name}}</div>
									</div>
									<div class="proprow">
										<div class="propcell">Sequences processed</div>
										<div class="valuecell">{{completeanalyse.report.totalLineProcessed}}</div>
									</div>
								</div>
							</div>

							<ul id="buttonlist">
								<li class="resultbutton" title="Download CSV Report"><img
									ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/csvdownload.png"
									ng-click="downloadCSV(completeanalyse.id)" alt="Next" /></li>
								<li class="resultbutton" title="Download PDF Report"><img
									ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/pdfdownload.png"
									ng-click="downloadPDF(completeanalyse.id)" alt="Next" /></li>
								<li class="resultbutton graph-button" title="View result chart"><img
									ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/graph.png"
									ng-click="openGraphData(completeanalyse)" alt="Next" /></li>
							</ul>
						</div>
					</div>

					<div style="display: table-row;">
						<div class="lineSeparator1" />
						<div class="lineSeparator2" />
						<div class="additionalAnalyse">
							<ul class="additionalAnalysisMenu shadowed">
								<li><img style="vertical-align: middle;"
									ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/additionalSmall.png" />
									Additional Analyses
									<ul class="shadowed">
										<li>Occurences increase rate
											<ul class="ulanalysisCompareSelect shadowed">
												<li ng-repeat="completeOtherAnalyse in completeAnalyses"
													ng-if="completeOtherAnalyse.id!==completeanalyse.id"
													ng-click="additionalAnalysisCompareRequest(completeanalyse.id,completeOtherAnalyse.id)"><span
													class="dateDisp">{{completeOtherAnalyse.completionDateFormat}}
												</span> - <span class="fileNameDisp">{{completeOtherAnalyse.report.analyseConfig.selectedDataFiles[0].name}}</span></li>
											</ul>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>

					<div style="display: table-row;"
						ng-if="completeanalyse.additionalAnalyses.length !== 0">
						<div class="lineSeparator3" />
						<div style="display: table;">
							<div class="additionnalFileRow"
								ng-repeat="additionnalAnalyseFile in completeanalyse.additionalAnalyses"
								ng-click="downloadAdditionalAnalysis(completeanalyse.id,additionnalAnalyseFile)">
								<div class="additionnalFileCell">
									<img ng-if="additionnalAnalyseFile.fileType == 'PDF'"
										ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/pdfdownload20.png" />
									<img ng-if="additionnalAnalyseFile.fileType == 'CSV'"
										ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/csvdownload20.png" />
									<img
										ng-if="additionnalAnalyseFile.fileType != 'CSV' && additionnalAnalyseFile.fileType !== 'PDF'"
										ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/unknownTypedownload20.png" />
								</div>
								<div class="additionnalFileCell">{{additionnalAnalyseFile.name}}</div>
								<div class="additionnalFileCell">{{additionnalAnalyseFile.readableSize}}</div>
								<div class="additionnalFileCell">
									<img
										ng-click="deleteAdditionalRequest(completeanalyse.id,additionnalAnalyseFile.name);$event.stopPropagation()"
										src="http://d3q6339sjg0aim.cloudfront.net/remove.png"
										onmouseover="this.src='http://d3q6339sjg0aim.cloudfront.net/removeHigh.png';"
										onmouseout="this.src='http://d3q6339sjg0aim.cloudfront.net/remove.png';">
									</img>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="overlay-report" ng-if="analyseDisplayedResult!==null">
	<div id="reportDialog" title="Analysis report">
		<div id="chartContent" ng-controller="reportDialogCtrl">
			<div id="topChartBar" class="shadowedText">
				{{title}}
				<div id="closebutton" ng-click="openGraphData(null)">
					<img
						ng-src="http://d3q6339sjg0aim.cloudfront.net/analysemgt/close.png"
						alt="Next" />
				</div>
			</div>
			<chart-element graphData="graphData" config="chartConfig"></chart-element>
		</div>
	</div>
</div>

<div id="additionalAnalysisDialog" title="Create additional analysis">
	<div id="createAdditionalContent">
		<div>
			<span class="ui-icon ui-icon-pencil"
				style="float: left; margin: 0 7px 0px 0;"></span>
			{{additionalAnalysisType}} requested, please define below option
			before generating results.
		</div>
		<br />
		<div
			style="border-top: 1px dotted #5aa8e4; padding-left: 10px; padding-top: 5px;">
			<span style="padding-top: 10px;"> Output file type : </span> <label><input
				type="radio" ng-model="outputFileType" value="PDF">PDF</input></label> <label><input
				type="radio" ng-model="outputFileType" value="CSV">CSV</input></label>
		</div>
	</div>
</div>

<div id="deletAdditionalConfirm" title="Delete additional analysis">
	<p>
		<span class="ui-icon ui-icon-alert"
			style="float: left; margin: 0 7px 0px 0;"></span> Are you sure to
		definitely remove this additional analysis?
	</p>
</div>

<div id="deleteAllConfirmationDialog"
	title="Delete all running analyses">
	<p>
		<span class="ui-icon ui-icon-alert"
			style="float: left; margin: 0 7px 0px 0;"></span> Are you sure to
		stop and remove all running analyses ?
	</p>
</div>

<div id="additionnalAnalysisSentDialog"
	title="Additionnal analysis requested">
	<p>
		<span class="ui-icon ui-icon-transferthick-e-w"
			style="float: left; margin: 0 7px 0px 0;"></span> <b
			id="additionnalAnalysisMessage"><b>
	</p>
</div>
