<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basic_file">logs/${sys:app.name}.log</Property>
		<Property name="connections_file">logs/${sys:app.name}_connections.log</Property>
	</Properties>
	<Appenders>
		<RollingFile name="basicFile" fileName="${basic_file}" filePattern="logs/Previous/${sys:app.name}-prev-%i.log.gz">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} %-5level [%-25class{1}] %-4L %-25M - %msg%xEx%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		
		<RollingFile name="connectionsFile" fileName="${connections_file}" filePattern="logs/Previous/${sys:app.name}_connections-prev-%i.log.gz">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} %-5level [%-25class{1}] %-4L %-25M - %msg%xEx%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		
		<Console name="Console">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} %-5level [%-25class{1}] %-4L %-25M - %msg%xEx%n
				</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="com.gmo.basicLogger" level="ALL" additivity="false">
			<AppenderRef ref="basicFile" level="ALL"/>
			<AppenderRef ref="Console" level="ALL"/>
		</Logger>
		<Logger name="com.gmo.connectionLogger" level="ALL" additivity="false">
			<AppenderRef ref="connectionsFile" level="ALL"/>
			<AppenderRef ref="Console" level="ALL"/>
		</Logger>
	</Loggers>
</Configuration>